@media screen and (max-width: 400px) {
    
    .hide-in-mobile{
        display: none;
    }
    .hs-features{
        justify-content: space-between;
    }
    .f1_ab.close.show{
        margin-left: calc(100% / 4) !important;
    }
}
@media screen and (min-width:400px){
   .welcome{
       background: url(/auworld/img/mlfb.jpg);
        background-size: 100%;
        padding-top: 600px;
    }
    .hide-in-pc{
        display: none
    }
    .hs-feature-1, .hs-feature-3{
        flex-direction: row-reverse;
    }
    .contact-form{
        width: 70vh;
    }
}